:host >>> .ui-card-body{
    padding:1px 1px !important;
}

:host >>> .ui-tabview-panel{
    padding:2px 1px !important;
}

:host >>> .ui-scrollpanel-bar-x{
    display:none;
}


:host >>> .ui-scrollpanel-content{
    height:100%;    
}

 :host >>> .custom-card{
    border:none;
} 

:host >>> .ui-tabview{
    padding:0 !important;
    margin:0;
}