<div class="row editl-tabs no-gutters">  
  <!-- <div class="col-12 mb-2">
      <p-breadcrumb [model]="breadCrumb" [home]="{'icon':'fa fa-home'}"></p-breadcrumb>
  </div> -->
  <div class="col-12">
    <p-tabView>
      <p-tabPanel header="Components">
        <p-scrollPanel [style]="{borderTop:0, width: '100%', height: '100px'}">
          <div class=" row no-gutters">
            <div 
              dnd-draggable
              [dragEnabled]="true"
              [dragData]="{'fieldName':'section', 'type':'div'}"
              [dropZones]="['zone1']"
              class="m-1 col-lg-auto col-xs-auto col-sm-auto">
              <p-card *ngIf="mainLayout.layout_type=='object_record'" styleClass="p-1 bg-info text-white">
                Section
              </p-card>
            </div>
          </div>              
        </p-scrollPanel>
      </p-tabPanel>
      <p-tabPanel header="Fields">
        <p-scrollPanel [style]="{borderTop:0, width: '100%', height: '100px'}">
          <div 
            class="row no-gutters" 
            runInsideAngular = "true"
            [sortablejs]="firstBag" 
            [sortablejsOptions]="options">
            <div 
              *ngFor="let item of firstBag; let i=index;"
              class="m-1 col-lg-auto col-xs-auto col-sm-auto">
              <p-card styleClass="p-1 bg-light text-dark" [style]="{'cursor':'move'}">
                  {{item.fieldName}}
              </p-card>
            </div>
          </div>              
        </p-scrollPanel>
      </p-tabPanel>
      <p-tabPanel header="Related Items" [disabled]="mainLayout.layout_type != 'object_record'">
        <p-scrollPanel [style]="{borderTop:0, width: '100%', height: '100px'}">
          <div 
            class="row no-gutters" 
            runInsideAngular = "true"
            [sortablejs]="relatedItems" 
            [sortablejsOptions]="options1">
            <div 
              *ngFor="let item of relatedItems; let i=index;"
              class="m-1 col-lg-auto col-xs-auto col-sm-auto">
              <p-card styleClass="p-1 bg-light text-dark" [style]="{'cursor':'move'}">
                  {{item.objectName}}
              </p-card>
            </div>
          </div>              
        </p-scrollPanel>   
      </p-tabPanel>
    </p-tabView>
  </div>
  <div 
    class="col-12 mt-2 page-layouts edit-layout" 
    [dropZones]="['zone1']"
    dnd-droppable
    (onDropSuccess) = "handleItemDrop($event)">
    <p-scrollPanel >
      
      <p-header *ngIf="mainLayout.mainSection != undefined">
        <div class="row no-gutters">
          <div class="col-9"></div>
          <div class="col-3 mt-2">
              <button pButton (click)="goBack()" label="Cancel" class="ui-button-danger greyb"></button>
            <button pButton label="Save Layout" (click)="openLayoutDialog()" class="ui-button-success blueb"></button>
          </div>
        </div>
      </p-header>
      <div class="row no-gutters">
        <div class="col-12 text-center" *ngIf="mainLayout.mainSection == undefined">
          <h5 class="text-secondary" style="margin-top:20%;">Drop items here when the green dotted line is visible</h5>
        </div>
        <div class="col-12 mt-2" *ngFor="let layout of mainLayout.mainSection;let x=index;">
          <p-panel>
            <p-header (mouseleave)="layout.showEdit = false" 
            (mouseenter)="layout.showEdit = true">
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="col-9"><h4 class="ads">{{layout.sectionName}}</h4></div>
                  <div class="col-3" *ngIf="layout.showEdit && (mainLayout.layout_type == 'object_record')">
                    <button (click)="showSectionDialog(layout)" pButton label="Edit"></button>
                    <button (click)="deleteSection(layout)" pButton label="Delete"></button>
                  </div>
                </div>
              </div>
            </p-header>            
            <div class="row no-gutters">
              <div class="col m-1" *ngFor="let c of layout.columns; let i=index;">
                <ul
                  *ngIf = "layout.sectionContent=='fields'"
                  [sortablejs]="c.columnData" 
                  [sortablejsOptions]="options"
                  runInsideAngular = "true"
                  (dragenter) = "styleMe(true, c)"
                  (dragover) = "styleMe(true, c)"
                  (dragleave) = "styleMe(false, c)"
                  (drop) = "styleMe(false, c)"
                  [ngClass]="{'dnd-drag-over-mine':c.highlight, 'bg-warning':c.highlight}" 
                  class="p-2 list-group list-section">
                  <ng-container             
                    *ngFor="let d of c.columnData;">
                    <li
                      style="cursor:move;"
                      class="list-group-item p-1" 
                      draggable="true"    
                      (mouseenter)="d.showProperties = true"
                      (mouseleave)="d.showProperties = false"
                      [ngClass] = "{'bg-light':d.readOnly, 'bg-danger text-white':d.mandatory}"
                      *ngIf="d.fieldName!='dummy field'">
                      <span *ngIf="d.mandatory" class="text-danger">*</span> {{d.fieldName}} 
                        <span
                          *ngIf = "d.showProperties && (mainLayout.layout_type == 'object_record')" 
                          (click)="openFieldSettingModal(d)"
                          style="cursor:pointer;"
                          class="badge badge-dark pull-right">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </span>
                    </li>
                  </ng-container>                      
                </ul>
                <ng-container>
                  <div 
                    *ngIf = "layout.sectionContent=='related_items'"
                    [sortablejs]="c.relatedItems" 
                    [sortablejsOptions]="options1"
                    runInsideAngular = "true"
                    (dragenter) = "styleMe(true, c)"
                    (dragover) = "styleMe(true, c)"
                    (dragleave) = "styleMe(false, c)"
                    (drop) = "styleMe(false, c)"
                    [ngClass]="{'dnd-drag-over-mine':c.highlight, 'bg-success':c.highlight}" 
                    class="table-responsive p-2">
                      <table 
                        class="table table-sm table-bordered"
                        *ngFor = "let relatedItem of c.relatedItems;"
                        >
                        <tr>
                          <th *ngFor="let rd of relatedItem.data;">
                            {{rd.fieldName}}
                          </th>
                        </tr>
                      </table>
                  </div>

                </ng-container>
              </div>
            </div>
          </p-panel>
        </div>
      </div>
    </p-scrollPanel>
  </div>
</div>


<p-dialog 
  [modal]="true" 
  [appendTo] = "'body'"
  [closable] = "false"
  [closeOnEscape] = "false"
  [responsive] = "true"
  [width] = "270"
  [contentStyle]="{'overflow':'visible'}"
  [(visible)]="sectionDialog"
  >
  <p-header>
    Section Details
  </p-header>
  <form #myForm1="ngForm">
  <div class="row no-gutters">
    <div class="col-12">
      <input 
        [(ngModel)] = "sectionData.sectionName"
        #sectionName = "ngModel"
        name="sectionName"
        required
        style="width:100%;" 
        type="text" 
        pInputText 
        placeholder="Section Name"/>
    </div>
    <div 
      calss="col-12 mt-3" 
      *ngIf="sectionName.invalid && (sectionName.touched || sectionName.dirty)">
      <p-message severity="error" text="Field is required"></p-message>
    </div>
    <div class="col-12 mt-3">
      <p-radioButton 
        label="1 Column" 
        name="groupname" 
        value="1" 
        [(ngModel)]="sectionData.sectionColumns">
      </p-radioButton>
      <p-radioButton 
        label="2 Columns" 
        name="groupname" 
        value="2" 
        [(ngModel)]="sectionData.sectionColumns">
      </p-radioButton>
      <p-radioButton 
        label="3 Columns" 
        name="groupname" 
        value="3" 
        [(ngModel)]="sectionData.sectionColumns">
      </p-radioButton>
    </div>    
    <div class="col-12 mt-3">
      <p-dropdown 
        name="sectionContent"
        placeholder="Section Content Type" 
        [style]="{'width':'100%'}" 
        [options]="sectionContentType" 
        [(ngModel)]="sectionData.sectionContent"></p-dropdown>
    </div>
  </div>
  </form>
  <p-footer>
    <button pButton (click)="saveSection(myForm1)" *ngIf="!selectedSection" [disabled]="sectionName.invalid" class="ui-button-success" label="Save"></button>
    <button pButton (click)="editSection(myForm1)" *ngIf="selectedSection" [disabled]="sectionName.invalid" class="ui-button-success" label="Update"></button>
    <button pButton (click)="cancelSectionDialog(myForm1)" class="ui-button-danger" label="Cancel"></button>
  </p-footer>
</p-dialog>


<p-dialog 
  [modal]="true" 
  [closable] = "false"
  [closeOnEscape] = "false"
  [appendTo] = "'body'"
  [responsive] = "true"
  [width] = "270"
  [contentStyle]="{'overflow':'visible'}"
  [(visible)]="fieldSettingDialog"
  >
  <p-header>
    Choose Field Setting
  </p-header>
  <div class="row">
    <div class="col-12">
      <p-radioButton 
        label="None" 
        name="groupname1" 
        value="100" 
        [(ngModel)]="fieldSetting.value">
      </p-radioButton>
      <p-radioButton 
        label="Required" 
        name="groupname1" 
        value="1" 
        [(ngModel)]="fieldSetting.value">
      </p-radioButton>
      <p-radioButton 
        label="Readonly" 
        name="groupname1" 
        value="2" 
        [(ngModel)]="fieldSetting.value">
      </p-radioButton>
    </div>
  </div>
  <p-footer>
    <button pButton (click)="saveFieldSetting()" class="ui-button-success" label="Save"></button>
    <button pButton (click)="cancelFieldSetting()" class="ui-button-danger" label="Cancel"></button>
  </p-footer>
</p-dialog>


<p-dialog 
  [modal]="true" 
  [closable] = "false"
  [closeOnEscape] = "false"
  [appendTo] = "'body'"
  [responsive] = "true"
  [width] = "270"
  [contentStyle]="{'overflow':'visible'}"
  [(visible)]="saveLayoutDialog"
  >
  <p-header>
    Enter Layout Details
  </p-header>
  <div class="row">
    <div class="col-12">
      <input 
        [(ngModel)] = "layoutName"
        #layoutName1 = "ngModel"
        name="layoutName1"
        required
        style="width:100%;" 
        type="text" 
        pInputText 
        placeholder="Layout Name"/>
    </div>
    <div 
      calss="col-12 mt-3" 
      *ngIf="layoutName1.invalid && (layoutName1.touched || layoutName1.dirty)">
      <p-message severity="error" text="Field is required"></p-message>
    </div>
  </div>
  <p-footer>
    <button pButton (click)="onLayoutSave()" [disabled]="layoutName1.invalid" class="ui-button-success" label="Save"></button>
    <button pButton (click)="cancelLayoutDialog()" class="ui-button-danger" label="Cancel"></button>
  </p-footer>
</p-dialog>

<p-dialog
  [modal]="true" 
  [closable] = "false"
  [closeOnEscape] = "false"
  [appendTo] = "'body'"
  [responsive] = "true"
  [width] = "270"
  [contentStyle]="{'overflow':'visible'}"
  [(visible)]="layoutTypeDialog">

  <p-header>
    Layout Type
  </p-header>
  <div class="row">
    <div class="col-12">
      <p-dropdown 
        name="layoutType"
        required
        #layoutType = "ngModel"
        placeholder="Layout For" 
        [style]="{'width':'100%'}" 
        [options]="layoutTypes" 
        [(ngModel)]="layoutFor">
      </p-dropdown>
    </div>
  </div>
  <p-footer>
    <button pButton (click)="onLayoutTypeSave()" [disabled]="layoutType.invalid" class="ui-button-success" label="Save"></button>
    <button pButton (click)="goBack()" class="ui-button-danger" label="Cancel"></button>
  </p-footer>

</p-dialog>