<p-sidebar [(visible)]="adminObjectUtilityService.showFormTab" position="right" [baseZIndex]="10000"
           styleClass="ui-sidebar-md">
  <div class="sideBarContent" *ngIf="adminObjectUtilityService.showOnFormTab === 'Objects'" style="margin-top: 50px;">
    <form #form="ngForm" (ngSubmit)="createObject()">
      <div class="createObject"><span>{{(adminObjectUtilityService.editMode) ? 'Edit Object Details' : 'Create Object'}}</span></div>
      <div class="inputContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" pInputText class="customInput" required name="objectName" #objectName="ngModel"
                 [(ngModel)]="adminObjectUtilityService.objectTemplate.objectName">
          <label for="float-input"><span class="mainLabel">OBJECT NAME</span></label>
        </span>
      </div>
      <div class="inputContainer">
        <span class="ui-float-label">
          <input id="float-input3" type="text" pInputText class="customInput" required name="objectApiName" #objectApiName="ngModel"
                 [(ngModel)]="adminObjectUtilityService.objectTemplate.apiName">
          <label for="float-input3"><span class="mainLabel">API Name</span></label>
        </span>
      </div>
      <div class="inputContainer">
        <span class="ui-float-label">
          <input id="float-input2" type="text" pInputText class="customInput" required name="description" #description="ngModel"
                 [(ngModel)]="adminObjectUtilityService.objectTemplate.description">
          <label for="float-input2"><span class="mainLabel">Description</span></label>
        </span>
      </div>
      <div class="inputContainer">
        <span class="ui-float-label">
          <input id="float-input4" type="text" pInputText class="customInput" required name="helpText" #helpText="ngModel"
                 [(ngModel)]="adminObjectUtilityService.objectTemplate.helpText">
          <label for="float-input4"><span class="mainLabel">Help Text</span></label>
        </span>
      </div>
      <div class="inputContainer">
        <button class="customButton" [disabled]="form.invalid" type="submit">{{(adminObjectUtilityService.editMode) ? 'Update' : 'Create'}}</button>
      </div>
    </form>
  </div>
  <div class="sideBarContent" *ngIf="adminObjectUtilityService.showOnFormTab === 'Fields'">
    <div style="max-height: 720px; overflow: auto;">
      <form #form="ngForm" (ngSubmit)="createField()">
        <div class="createObject"><span>{{(adminObjectUtilityService.editMode) ? 'Edit Field Details' : 'Add New Field'}}</span></div>
        <div class="inputContainerNew">
        <span class="ui-float-label">
          <input id="float-input11" type="text" pInputText class="customInput" required name="fieldName" #fieldName="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.name">
          <label for="float-input11"><span class="mainLabel">NAME</span></label>
        </span>
        </div>
        <div class="inputContainerNew">
        <span class="ui-float-label">
          <input id="float-input12" type="text" pInputText class="customInput" name="fieldApiname" #fieldApiname="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.apiName">
          <label for="float-input12"><span class="mainLabel">API Name</span></label>
        </span>
        </div>
        <div class="inputContainerNew">
        <span class="ui-float-label">
          <input id="float-input13" type="text" pInputText class="customInput" name="fieldDescription" #fieldDescription="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.description">
          <label for="float-input13"><span class="mainLabel">Description</span></label>
        </span>
        </div>
        <div class="inputContainerNew" style="margin-bottom: 10px;">
        <span class="ui-float-label">
          <input id="float-input14" type="text" pInputText class="customInput" name="fieldHelpText" #fieldHelpText="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.help">
          <label for="float-input14"><span class="mainLabel">Help Text</span></label>
        </span>
        </div>
        <div class="inputContainerNew">
        <span>
           <label for="productType" ><span
             class="mainLabel selectLabel">Type</span></label><br>
           <select class="selectClass" name="productType" id="productType" [(ngModel)]="adminObjectUtilityService.fieldTemplate.type" required>
              <option value disabled selected style="color: #cccccc;">Select type</option>
              <option *ngFor="let TY of TYPES" [value]="TY">{{TY}}</option>
           </select>
        </span>
        </div>
        <div class="inputContainerNew" style="display: flex;">
          <div class="checkParent"><p-checkbox [(ngModel)]="adminObjectUtilityService.fieldTemplate.mandatory" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox><span class="spanLabel">Mandatory</span></div>
          <div class="checkParent"><p-checkbox [(ngModel)]="adminObjectUtilityService.fieldTemplate.secure" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox><span class="spanLabel">Secure</span></div>
          <div class="checkParent"><p-checkbox [(ngModel)]="adminObjectUtilityService.fieldTemplate.unique" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox><span class="spanLabel">Unique</span></div>
        </div>
        <div class="inputContainerNew"
             [hidden]="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.AUTO ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.FORMULA ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.REFERENCE">
        <span class="ui-float-label">
          <input id="float-input15" type="text" pInputText class="customInput" name="fieldDefaultValue" #fieldDefaultValue="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.defaultValue">
          <label for="float-input15"><span class="mainLabel">Default Value</span></label>
        </span>
        </div>
        <div class="inputContainerNew"
             [hidden]="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.AUTO ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.CHECH_BOX ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.DATE ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.DATE_TIME ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.EMAIL ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.FORMULA ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.GEO_LOCATION ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.REFERENCE ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.PICK_LIST ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.MULTI_PICK_LIST">
        <span class="ui-float-label">
          <input id="float-input16" type="text" pInputText class="customInput" name="fieldLength" #fieldLength="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.length" required>
          <label for="float-input16"><span class="mainLabel">Length</span></label>
        </span>
        </div>
        <div class="inputContainerNew" style="margin-bottom: 10px;"
             [hidden]="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.AUTO ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.CHECH_BOX ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.DATE ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.DATE_TIME ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.EMAIL ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.FORMULA ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.GEO_LOCATION ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.REFERENCE ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.NUMBER ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.STRING ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.PICK_LIST ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.MULTI_PICK_LIST">
        <span class="ui-float-label">
          <input id="float-input17" type="text" pInputText class="customInput" name="fieldDecimal" #fieldDecimal="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.decimals"
                 [required]="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.CURRENCY ||
                 adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.BIG_NUMBER ||
                 adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.PERCENT ||
                 adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.REAL ||
                 adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.BIG_REAL">
          <label for="float-input17"><span class="mainLabel">Decimals</span></label>
        </span>
        </div>
        <div *ngIf="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.AUTO">
          <div class="inputContainerNew">
            <p-checkbox [(ngModel)]="adminObjectUtilityService.fieldTemplate.autogen" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox><span class="spanLabel">Auto Gen</span>
          </div>
          <div class="inputContainerNew">
            <span class="ui-float-label">
              <input id="float-input20" type="text" pInputText class="customInput" name="fieldSequenceName" #fieldSequenceName="ngModel"
                     [(ngModel)]="adminObjectUtilityService.fieldTemplate.sequenceName" [required]="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.AUTO">
              <label for="float-input20"><span class="mainLabel">Sequence Name</span></label>
            </span>
          </div>
          <div class="inputContainerNew">
            <span class="ui-float-label">
              <input id="float-input21" type="text" pInputText class="customInput" name="fieldFormat" #fieldFormat="ngModel"
                     [(ngModel)]="adminObjectUtilityService.fieldTemplate.format">
              <label for="float-input21"><span class="mainLabel">Format</span></label>
            </span>
          </div>
        </div>
        <div class="inputContainerNew"
             *ngIf="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.PICK_LIST ||
             adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.MULTI_PICK_LIST">
        <span class="ui-float-label">
          <input id="float-input18" type="text" pInputText class="customInput" name="fieldLOV" #fieldLOV="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.lov"
                 [required]="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.PICK_LIST ||
                 adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.MULTI_PICK_LIST">
          <label for="float-input18"><span class="mainLabel">LOV</span></label>
        </span>
        </div>
        <div class="inputContainerNew"
             *ngIf="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.FORMULA">
        <span class="ui-float-label">
          <input id="float-input19" type="text" pInputText class="customInput" name="fieldFormula" #fieldFormula="ngModel"
                 [(ngModel)]="adminObjectUtilityService.fieldTemplate.formula"
                 [required]="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.FORMULA">
          <label for="float-input19"><span class="mainLabel">Formula</span></label>
        </span>
        </div>
        <div class="inputContainerNew" style="margin-bottom: 10px;" *ngIf="adminObjectUtilityService.fieldTemplate.type === adminObjectUtilityService.TypeConstants.REFERENCE">
          <span>
             <label for="productType1" ><span
               class="mainLabel selectLabel">Ref. Object</span></label><br>
             <select class="selectClass" name="productType1" id="productType1" [(ngModel)]="adminObjectUtilityService.fieldTemplate.refObject">
                <option value disabled selected style="color: #cccccc;">Select Ref. Object</option>
                <option *ngFor="let RO of adminObjectUtilityService.allObjects" [value]="RO.id" [selected]="adminObjectUtilityService.fieldTemplate.refObject === RO.id">{{RO.objectName}}</option>
             </select>
          </span>
        </div>
        <div class="inputContainerNew" style="display: flex;">
          <div class="checkParent"><p-checkbox [(ngModel)]="adminObjectUtilityService.fieldTemplate.basicSearch" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox><span class="spanLabel">Basic Search</span></div>
          <div class="checkParent"><p-checkbox [(ngModel)]="adminObjectUtilityService.fieldTemplate.advancedSearch" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox><span class="spanLabel">Advanced Search</span></div>
        </div>
        <div class="inputContainerNew">
        <span>
           <label for="productType2" ><span
             class="mainLabel selectLabel">Search Type</span></label><br>
           <select class="selectClass" name="productType2" id="productType2" [(ngModel)]="adminObjectUtilityService.fieldTemplate.searchType" required>
              <option value disabled selected style="color: #cccccc;">Select search type</option>
              <option *ngFor="let ST of FIELD_SEARCH_TYPE" [value]="ST">{{ST}}</option>
           </select>
        </span>
        </div>
        <div class="inputContainerNew">
          <button class="customButton" type="submit">{{(adminObjectUtilityService.editMode) ? 'Update' : 'Create'}}</button>
        </div>
      </form>
    </div>
  </div>
</p-sidebar>

