<div class="row no-gutters">
  <div class="col-3 sbox">
    <div class="row no-gutters">
      <div class="col-12">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="doUserSearch()">
          <p-panel [style]="{width: '100%'}">
            <p-header>
              <div class="ui-helper-clearfix">
                <h6 class="ui-panel-title" style="display:inline-block;">
                  Search Users
                </h6>
              </div>
            </p-header>
            <div class="col-12 mt-4">
              <span class="ui-float-label">
                <input id="float-input" formControlName="userId" style="width:100%" type="text" pInputText> 
                <label for="float-input">User ID</label>
              </span> 
            </div>
            <div class="col-12 mt-4">
              <span class="ui-float-label">
                <input id="float-input" formControlName="firstName" type="text"  style="width:100%" pInputText> 
                <label for="float-input">First Name</label>
              </span> 
            </div>
            <div class="col-12 mt-4 mb-4">
              <span class="ui-float-label">
                <input id="float-input" formControlName="lastName" style="width:100%" type="text" pInputText> 
                <label for="float-input">Last Name</label>
              </span> 
            </div>
            <p-footer>
              <div class="ui-helper-clearfix text-right">
                  <button [disabled]="userSearchLoading" pButton type="submit" class="ui-button-success">
                    <span *ngIf="!userSearchLoading">Search</span>
                    <i *ngIf="userSearchLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                  </button>
              </div>
            </p-footer>
          </p-panel>
        </form>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row no-gutters">
      <div class="col-12">
        <p-card>
            <app-userlist></app-userlist>
        </p-card>
        
      </div>
      
      <div *ngIf="userServ.viewDetails" class="col-12 mt-2">
        <p-card >
          <p-tabView (onChange)="handleTabChange($event)">
            <p-tabPanel header="Main">
              <div class="row no-gutters">
                <div class="col-md-12 text-right">
                  <button 
                    (click)="editBtnClicked()" 
                    class="btn btn-sm btn-success" 
                    type="button">
                    Edit
                  </button>
                  <button 
                    (click) = "deleteBtnClicked()"
                    class="btn btn-sm btn-danger" 
                    type="button">
                      Delete
                  </button>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="row no-gutters">                    
                    <div class="col-4">
                      <table class="table table-sm table-striped">
                        <tr>
                          <td>User Id</td>
                          <td>{{userServ.selectedUser.userId}}</td>
                        </tr>
                        <tr>
                          <td>First Name</td>
                          <td>{{userServ.selectedUser.firstName}}</td>
                        </tr>
                        <tr>
                          <td>Last Name</td>
                          <td>{{userServ.selectedUser.lastName}}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>{{userServ.selectedUser.email}}</td>
                        </tr>
                        <tr>
                          <td>Mobile</td>
                          <td>{{userServ.selectedUser.mobile}}</td>
                        </tr>
                        <tr>
                          <td>Fax</td>
                          <td>{{userServ.selectedUser.fax}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4">
                      <table class="table table-sm table-striped">
                        <tr>
                          <td>Address 1</td>
                          <td>{{userServ.selectedUser.address1}}</td>
                        </tr>
                        <tr>
                          <td>Address 2</td>
                          <td>{{userServ.selectedUser.address2}}</td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td>{{userServ.selectedUser.city}}</td>
                        </tr>
                        <tr>
                          <td>State</td>
                          <td>{{userServ.selectedUser.state}}</td>
                        </tr>
                        <tr>
                          <td>Postal Code</td>
                          <td>{{userServ.selectedUser.postalCode}}</td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td>{{userServ.selectedUser.country}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4">
                      <table class="table table-sm table-striped">
                        <tr>
                          <td>BU Name</td>
                          <td>{{userServ.selectedUser.buName}}</td>
                        </tr>
                        <tr>
                          <td>Title</td>
                          <td>{{userServ.selectedUser.title}}</td>
                        </tr>
                        <tr>
                          <td>Company</td>
                          <td>{{userServ.selectedUser.companyName}}</td>
                        </tr>
                        <tr>
                          <td>Manager</td>
                          <td>{{userServ.selectedUser.managerName}}</td>
                        </tr>
                        <tr>
                          <td>Department</td>
                          <td>{{userServ.selectedUser.department}}</td>
                        </tr>
                        <tr>
                          <td>Sub Division</td>
                          <td>{{userServ.selectedUser.subDivision}}</td>
                        </tr>
                        <tr>
                          <td>Building</td>
                          <td>{{userServ.selectedUser.building}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Grants">
                <ng-template pTemplate="content">
                  <div class="row">
                    <div class="col-12 mt-2 text-center">
                      <i class="fa fa-spinner fa-spin fa-3x fa-pulse" *ngIf="!userGrants && !(allGrants | async)"></i>
                    </div>
                    <div class="col-12 mt-2"  *ngIf="(allGrants | async)">
                      <div class="row">
                        <div class="col-6">
                          <select [(ngModel)]="newUserGrant" class="form-control">
                            <option [value]="grant.id" *ngFor="let grant of (allGrants | async)">{{grant.grantName}}</option>
                          </select>
                        </div>
                        <div class="col-3 mt-2">
                          <button class="btn btn-success" (click)="addGrantToUser()">Add To User</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-2" *ngIf="userGrants">
                        <h5>User Grants List</h5>
                        <app-grantslist [grantsList]="userGrants"></app-grantslist>
                    </div>
                  </div>                 
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Groups">
                Content 3    
            </p-tabPanel>
          </p-tabView>
        </p-card>

        
      </div>
      <div class="col-12 mt-3" *ngIf="userServ.showCreateNewUser || userServ.editDetails">
        <p-card>
          <p-header>
            <h3><span *ngIf="userServ.showCreateNewUser">Create New</span>
              <span *ngIf="userServ.editDetails">Edit</span> User</h3>
          </p-header>
            <app-userform [passedUser]="userServ.selectedUser"></app-userform>
        </p-card>
      </div>
    </div>
  </div>
</div>


<p-confirmDialog></p-confirmDialog>
