<div class="row no-gutters">
  <!-- <div class="col-12">
      <p-breadcrumb [model]="breadCrumb" [home]="{'icon':'fa fa-home'}"></p-breadcrumb>
  </div> -->
  <div class="col-12 mt-2 detailsbox sbox">
    <p-card >
      <p-accordion [multiple]="true">
        <p-accordionTab 
          *ngFor="let section of layout?.mainSection; let i=index;"
          [header]="section.sectionName" 
          [selected]="i==0?true:false">
          
            <form [formGroup]="form">
            <div class="row">
              <div 
                class="col"
                *ngFor="let c of section.columns; let j=index;"
              >
                <div class="row">
                  <div class="col-12 mt-1" *ngFor="let d of c.columnData;">
                    <div class="row" *ngIf="d.fieldElementType=='radio'">
                      <div class="col-6" [ngClass]="{'border-right border-danger':d.mandatory}">
                        <span style="font-weight:bold;">{{d.fieldName}}: &nbsp;&nbsp;&nbsp; </span>
                        <span class="text-danger" *ngIf="d.mandatory">*</span>
                      </div>
                      <div class="col-6">
                        <p-radioButton name="groupname" label="True" value="true" formControlName="{{d.fieldName}}"></p-radioButton>
                        <p-radioButton name="groupname" label="False" value="false" formControlName="{{d.fieldName}}"></p-radioButton>
                      </div>                     
                    </div>
                    <div class="row" *ngIf="d.fieldElementType=='text'" >
                      <!-- <div class="col-6" [ngClass]="{'border-right border-danger':d.mandatory}">
                        <label  style="font-weight:bold;" for="float-input">{{d.fieldName}}</label>
                        <span class="text-danger" *ngIf="d.mandatory">*</span>
                      </div> -->
                      <div class="col-12 cusinput">                        
                        <!-- <input style="width:100%;" id="float-input" formControlName="{{d.fieldName}}" type="text" pInputText> -->
                        <span class="ui-float-label">
                          <input style="width:100%;" id="float-input" formControlName="{{d.fieldName}}" type="text" pInputText>
                          <!-- <input id="float-input"  type="text" pInputText>  -->
                          <label for="float-input">{{d.fieldName}}</label>
                        </span> 
                        <div style="padding:10px 0 0;" class="" *ngIf="(formControls[d.fieldName].dirty||formControls[d.fieldName].touched)&& formControls[d.fieldName].errors!=null && formControls[d.fieldName].errors.required">
                          <p-message 
                            [style] = "{'width':'100%'}"
                            severity="error" 
                            text="Field is required">
                          </p-message>
                        </div>
                      </div>                        
                    </div>
                    <div class="row" *ngIf="d.fieldElementType=='number'" >
                      <div class="col-6" [ngClass]="{'border-right border-danger':d.mandatory}">
                        <label style="font-weight:bold;" for="float-input">{{d.fieldName}}</label>
                        <span class="text-danger" *ngIf="d.mandatory">*</span>
                      </div>
                      <div class="col-6">                        
                        <input style="width:100%;" id="float-input" formControlName="{{d.fieldName}}" type="number" pInputText>
                      </div>                          
                    </div>
                    <div class="row" *ngIf="d.fieldElementType=='date'" >
                      <div class="col-6" [ngClass]="{'border-right border-danger':d.mandatory}">
                        <label style="font-weight:bold;" for="float-input">{{d.fieldName}}</label>
                        <span class="text-danger" *ngIf="d.mandatory">*</span>
                      </div>
                      <div class="col-6">                        
                        <p-calendar [appendTo]="'body'" [style]="{'width':'100%'}" [showButtonBar]="true" formControlName="{{d.fieldName}}"></p-calendar>
                      </div>                        
                    </div>
                    <div class="row" *ngIf="d.fieldElementType=='dropdown'" >
                      <div class="col-6" [ngClass]="{'border-right border-danger':d.mandatory}">
                        <label style="font-weight:bold;" for="float-input">{{d.fieldName}}</label>
                        <span class="text-danger" *ngIf="d.mandatory">*</span>
                      </div>
                      <div class="col-6">                        
                        <p-dropdown [style]="{'width':'100%'}" [autoWidth]="false" placeholder="Please Select" formControlName="{{d.fieldName}}" [options]="d.options">
                        </p-dropdown>
                      </div>                        
                    </div>
                    
                    <!-- <div class="row mt-1">
                      <div class="col-6"></div>
                      <div class="col-6" *ngIf="(formControls[d.fieldName].dirty||formControls[d.fieldName].touched)&& formControls[d.fieldName].errors!=null && formControls[d.fieldName].errors.required">
                        <p-message 
                          [style] = "{'width':'100%'}"
                          severity="error" 
                          text="Field is required">
                        </p-message>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            </form>
          </p-accordionTab>
        </p-accordion>
        
      <p-footer>
        <div class="col-2 offset-sm-5">
          <button 
            class="ui-button-success blueb"
            [disabled]="form.invalid" 
            pButton 
            type="button" 
            (click) = "saveScreen()"
            [label]="screenId?'Update Account':'Create Account'" style="padding:10px 20px !important;width:auto;">
          </button>
        </div>
      </p-footer>
    </p-card>
  </div>
  <p-dialog 
    [modal]="true" 
    [closeOnEscape] = "false"
    [appendTo] = "'body'"
    [responsive] = "true"
    [closable] = "false"
    [resizable] = "false"
    [contentStyle]="{'overflow':'visible'}"
    [(visible)]="createDialogDisplay"
  >
    <p-header>
      Screen Details
    </p-header>
    
    <form>
      <div class="col-12 mt-2">
        <span class="ui-float-label">
          <input 
            #screenName = "ngModel"
            ngModel
            name = "screenName"
            [style] = "{'width':'100%'}"
            id="float-input" 
            required
            type="text" pInputText> 
          
          <label for="float-input">Screen Name</label>
        </span>          
      </div>
      <div 
        class="col-12 mt-1" 
        *ngIf="screenName.invalid && (screenName.dirty||screenName.touched)">
          <p-message 
            [style] = "{'width':'100%'}"
            severity="error" 
            text="Field is required">
          </p-message>
      </div>
      <div class="col-12 mt-3">
        <p-dropdown 
          #layoutName = "ngModel"
          ngModel
          name="layoutName"
          [style] = "{'width':'100%'}"
          required
          placeholder="Select a Layout" 
          [options]="allLayouts">
        </p-dropdown>
      </div>        
      <div 
        class="col-12 mt-1" 
        *ngIf="layoutName.invalid && (layoutName.dirty||layoutName.touched)">
          <p-message 
            [style] = "{'width':'100%'}"
            severity="error" 
            text="Field is required">
          </p-message>
      </div>
    </form>
    <p-footer>
      <button 
        [disabled]="screenName.invalid || layoutName.invalid" 
        pButton 
        type="button" 
        class="ui-button-success"
        (click) = "saveScreenDetails(screenName.value, layoutName.value)"
        label="Save" >
      </button>      
      <button  
        pButton 
        type="button" 
        class="ui-button-warning"
        (click) = "goBack()"
        label="Cancel" >
      </button>
    </p-footer>

  </p-dialog>
</div>