<div class="row no-gutters"> 
  <div class="col-12 mt-1 detailsbox">
    <p-panel [style]="{width: '100%'}">
      <p-header>
        <div class="ui-helper-clearfix backnav">
          <button pButton (click)="location.back()" class="back"><i class="fa fa-angle-left" aria-hidden="true"></i>          </button>
          <h6 class="ui-panel-title" style="display:inline-block;">
            {{object?.name}} Details
          </h6>

          <p-splitButton 
            *ngIf = "screen"
            [style]="{'float':'right'}"
            styleClass="ui-button-info"
            label="EDIT" (onClick)="goToEdit(screen?.id)"
            [model]="items1">
          </p-splitButton>
        </div>
      </p-header>
      <div style="line-height:1.5">
          <p-accordion [multiple]="true">
            <p-accordionTab 
              *ngFor="let section of layout?.mainSection; let i=index;"
              [header]="section.sectionName" 
              [selected]="i==0?true:false">
                <div class="row no-gutters" >
                  <div 
                    class="col"
                    *ngFor="let c of section.columns; let j=index;"
                  >
                    <table class="table table-sm" *ngIf="c.columnData.length >0">
                      <tr *ngFor="let d of c.columnData;">
                        <th class="border-0">{{d.fieldName}}</th>
                        <td class="border-0">{{d.fieldValue}}</td>
                      </tr>
                    </table>
                    <p-table 
                      styleClass="table table-striped"
                      #dt1 [columns]="columns" 
                      [rows]="5" 
                      [paginator]="true" 
                      *ngIf="c.relatedItems.length >0" 
                      [value]="data">
                      <ng-template pTemplate="caption">
                        <div style="text-align: right">        
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                          <tr>
                              <th *ngFor="let col of columns">
                                  {{col}}
                              </th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                          <tr>
                              <td *ngFor="let col of columns">
                                      {{data[col]}}
                              </td>
                          </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
            </p-accordionTab>
          </p-accordion>
      </div>
    </p-panel>
  </div>
</div>
