.side-bar-content{
    width:200px;
}
.navbar{
    background:#004169;
    padding:2px 20px;
}
.navbar-brand{
    margin:0;
    padding:0;
    width:300px;
}
.navbar-brand .col-2{
    padding: 0 5px;
    max-width: 50px;
}
.appdrop,.topsearch{display:none;padding:0 10px;}
.navright{padding:0 0 0 10px;}
.clogo{
    margin:4px 0 0 !important;
    padding:0;
}
.clogo h4{
    color:#2196F3;
    font-size:16px;
    font-weight:900;
    margin:0 0 -3px;
    text-transform:uppercase;
}
.clogo span{
    color:#fff;
    font-size:12px;
}
:host >>> p-sidebar> .ui-sidebar{
    padding:1px;
    padding-top:53px;
}

:host >>> .ui-sidebar-close{
    display:none;
}
.btn-outline-light{
    border:0;
    color:#fff;
    font-size:20px;
    padding:8px;
}
.btn-outline-light:hover{background:none;}
.tname,.accname{
    color:#fff;
    font-size:12px;
}
.tname{
    font-size:14px;
    font-weight:700;
}
.accimg{
    background:#fff;
    border-radius:50%;
    height:30px;
    margin:0 5px 0 20px;
    width:30px;
}
.tname,.accountd{float:right;}
.accimg,.accname{float:left;}
.tname,.accname{margin-top:5px;}
.topsearch.ui-inputgroup .ui-inputtext{
    border:0;
    color:#333;
    padding: 12px;
    border-radius: 2px 0 0 2px !important;
    font-size: 14px;
    width: 100%;
}
.topsearch .ui-button.ui-button-secondary.ui-state-default{
    background: #2196F3;
    color: #fff;
    border: 0;
    padding: 0 30px;
    font-size: 16px;
}
.ui-button.ui-button-secondary:enabled:hover{
    background:#004169;
    border-color:#2196F3;
    color:inherit;
}
.accountd .fa-caret-down,.accountd .fa-caret-up{
    color: #fff;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
}
.accountd{
    cursor:pointer;
    position: relative;
}
.prdetails{
    background:#fff;
    padding:5px 15px;
    position: absolute;
    right:0;
    top:40px;
    transition: all 0.5s;
    width:120px;
    border-bottom:#2196F3 1px solid;
    -webkit-box-shadow: 10px 10px 101px 5px rgba(33,150,243,.1);
    -moz-box-shadow: 10px 10px 101px 5px rgba(33,150,243,.1);
    box-shadow: 10px 10px 101px 5px rgba(33,150,243,.1);
}
.prdetails a{
    color:#666;
    font-size:14px;
    display:block;
    padding:5px 0;
    text-decoration:none;
}
.prdetails a:hover{color:#2196F3;}