<div class="p-0 container-fluid">

  <header>
    <nav class="navbar navbar-dark fixed-top">
      <div class="col-3 navbar-brand">
        <div class="row">
         <div class="col-2">
            <span (click)="visibility=!visibility" class="btn btn-outline-light">
              <i class="fa fa-bars"></i>
            </span>
         </div>
          <div class="col-10 mt-1 clogo">
            <h4>Coco Platform</h4>
            <span>A Stacksoft Product</span>
          </div>
        </div>
      </div>
      <div class="breadc" [ngClass]="{'col-6':hideMenu,'col-2':!hideMenu }">
        <p-breadcrumb [model]="breadCrumb?.breadCrumbDataModel" [home]="{'icon':'fa fa-home'}"></p-breadcrumb>
      </div>
      <div class="col-4 secondmenu"  *ngIf="!hideMenu">
        <p-menubar [autoDisplay]="true" [model]="objectMenuItems"></p-menubar>
      </div>
      <!-- <div class="col-2 appdrop">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Application Name" optionLabel="name" [filter]="true" class="appdroplist"></p-dropdown>
      </div>   -->
      <!-- <div class="col-4 ui-inputgroup topsearch">
        <input type="text" pInputText placeholder="Search">
        <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
      </div> -->
      <!-- <div class="col-2">&nbsp;</div> -->
      <div class="col-3 navright">
        <div class="accountd" (click)="aDetailsVisibleState = !aDetailsVisibleState">
          <div class="accimg">&nbsp;</div>
          <div class="accname">{{loginServ.userDetails.userDisplayName}}</div>
          <span class="fa" [ngClass]="{'fa-caret-down':!aDetailsVisible, 'fa-caret-up':aDetailsVisible}"></span>
          <div *ngIf="aDetailsVisibleState" [@slideInOutNoHeight]="aDetailsVisibleState" class="prdetails">
            <a href="javascript:void(0);" (click)="logOut()">Logout</a>
            <a href="#">My Details</a>
          </div>
        </div>
        <div class="tname">{{loginServ.userDetails.tenantName}}</div>
      </div>
    </nav>
  </header>
  <p-sidebar styleClass="ui-sidebar-sm leftnav" [(visible)]="visibility">
    <input type="text" ngModel #searchObject="ngModel" pInputText placeholder="Search Objects">
    <div class="list-group mt-1">
      <div class="list-group-item" (click)="adminSubmenu = !adminSubmenu" style="cursor:pointer;">Admin</div>
      <div class="list-group-item">
        <ul class="list-group p-0" *ngIf="adminSubmenu" @slideInOutNoHeight>
          <li class="list-group-item p-0" style="cursor:pointer;">
            <a
              (click)="sidenavClose(0)"
              routerLink="/admin/user-management">Users</a>
          </li>
          <li class="list-group-item p-0" style="cursor:pointer;">
            <a (click)="sidenavClose(0)"  routerLink="/admin/grants">Grants</a>
          </li>
          <li class="list-group-item p-0" style="cursor:pointer;">
            <a (click)="sidenavClose(0)" routerLink="/admin/business-unit">Business Units</a>
          </li>
          <li class="list-group-item p-0" style="cursor:pointer;">
            <a (click)="sidenavClose(0)" routerLink="/admin/roles">Role</a>
          </li>
          <li class="list-group-item p-0" style="cursor:pointer;">
            <a (click)="sidenavClose(0)" routerLink="/admin/objects">Objects</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="list-group mt-t">
      <a
        *ngFor="let object of objects | searchobjects:searchObject.value"
        (click)="sidenavClose(object.id)"
        [ngClass]="{'active':object.clicked}"
        class="list-group-item p-1 text-center list-group-item-action"
        routerLink="/home/objects/{{object.id}}">
          {{object.name}}
      </a>
    </div>
  </p-sidebar>
  <div class="container-fluid">
    <p-growl [(value)]="msgs" [baseZIndex]="999999" [life]="5000"></p-growl>
    <router-outlet></router-outlet>
  </div>
</div>


