<div class="row no-gutters">
  <div class="col-12 alltasks">
    <h4>All Tasks</h4>
    <div class="tsklist">
      <div class="col-3 tbox">
        <a class="tname" href="#">Task Name</a>
        <span class="tsign top">&nbsp;</span>
        <p>
          <span class="tdate">30 Apr</span>
          <span class="tstat late">Delayed by 3 days</span>
        </p>
        <p class="tdesc">Task Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
        <div class="tsmore">
          <textarea>Task Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</textarea>
          <div class="detailrow">
            <h6>Attachments</h6>
            <div class="tattach">
              <div class="tassign"><span>PIC</span></div>
              <div class="attachd">
                <a href="#">Attachment Name</a>
                <span class="tdate">File Size</span>
              </div>
            </div>
            <div class="tattach">
              <div class="tassign"><span>PIC</span></div>
              <div class="attachd">
                <a href="#">Attachment Name</a>
                <span class="tdate">File Size</span>
              </div>
            </div>
          </div>
          <div class="detailrow">
            <h6>Change Status</h6>
            <div class="tskst">
              <span class="tsign inp">&nbsp;</span>
              <span class="tskstn">In Progress</span>
            </div>
            <div class="tskst">
              <span class="tsign done">&nbsp;</span>
              <span class="tskstn">Done</span>
            </div>
          </div>
          <div class="detailrow">
            <h6>Assign To</h6>
            <div class="tassign"><span>JN</span></div>
            <div class="tassign"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </div>
          <div class="detailrow">
            <button class="tupdate">Update</button>
            <button class="tcancel">Cancel</button>
          </div>
        </div>
      </div>
      <div class="col-3 tbox">
        <a class="tname" href="#">Task Name</a>
        <span class="tsign top inp">&nbsp;</span>
        <p>
          <span class="tdate">30 Apr</span>
        </p>
        <p class="tdesc">Task Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
      </div>
      <div class="col-3 tbox">
        <a class="tname" href="#">Task Name</a>
        <span class="tsign top done">&nbsp;</span>
        <p>
          <span class="tdate">30 Apr</span>
        </p>
        <p class="tdesc">Task Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
      </div>
      <div class="col-3 tbox">
        <a class="tname" href="#">Task Name</a>
        <span class="tsign top done">&nbsp;</span>
        <p>
          <span class="tdate">30 Apr</span>
        </p>
        <p class="tdesc">Task Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
      </div>
    </div>
  </div>
</div>
