body{overflow-x:hidden;}
.logleft,.logright{
    font-size:14px;
    height:100vh;
    position:relative;
}
.logleft{
    background:#004169;
    color:#fff;
    float:left;
    padding:40px;
    width:30%;
}
.logleft .clogo{margin-bottom:80px;}
.clogo h4{
    color:#2196F3;
    font-size:20px;
    font-weight:900;
    margin:0;
    text-transform:uppercase;
}
.clogo span{
    color:#fff;
    font-size:14px;
}
.logleft h5{
    font-size:24px;
    font-weight:100;
    margin-bottom:12px;
}
.logleft p{font-weight:300;}
.logleft footer{
    bottom:40px;
    font-size:12px;
    position:absolute;
    left:40px;
}
.logleft footer a{
    color:#fff;
    font-size:12px;
    margin-right:20px;
    text-decoration:none;
}
.logleft footer a:hover{color:#2196F3;}
.logleft footer .copyr{margin:15px 0 0;}
.logright{
    background:#fff;
    color:#666;
    float:right;
    padding:0;
    width:70%;
}
.formbox{
    position:absolute;
    left:50%;
    top:50%;
    width:350px;
    z-index:1;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.logright h4{
    color:#333;
    font-size:30px;
    font-weight:100;
    margin-bottom:10px;
}
.ltextmb{margin-bottom:40px;}
.logright .fpass{
    color:#333;
    font-size:12px;
    text-decoration:underline;
}
.logright .fpass:hover{color:#2196F3;}
.logright .mb-4{margin-bottom:30px !important}
.logright .ui-inputtext{
    width: 100%;
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0 !important;
    padding:0 0 5px !important;
    color: #333 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.logright .ui-float-label>label{
    font-size:14px;
    left:0 !important;
}
.logright .ui-float-label>input:focus ~ label,.logright .ui-float-label>input.ui-state-filled ~ label{
    top: -10px !important;
    font-size: 10px !important;
    text-transform: uppercase;
    color: #2196F3;
    font-weight: 500;
}
.logright .ui-button{
    background: #2196F3;
    border: 0;
    margin-top:10px;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    float: left;
    -webkit-box-shadow: 0px 0px 34px -6px rgba(33,150,243,1);
    -moz-box-shadow: 0px 0px 34px -6px rgba(33,150,243,1);
    box-shadow: 0px 0px 34px -6px rgba(33,150,243,1);
    transition: all 0.5s;
    width:100%;
}
.logright .ui-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.logright .ui-button span:after {
    content: '\00bb';
    font-size:26px;
    position: absolute;
    opacity: 0;
    top: -10px;
    right: 0;
    transition: 0.5s;
}
.logright .ui-button:hover span {padding-right: 25px;}
.logright .ui-button:hover span:after {
    opacity: 1;
    right: 0;
}