<div class="row no-gutters">
    <div class="col-5 logleft">
        <div class="clogo">
          <h4>Coco Platform</h4>
          <span>A Stacksoft Product</span>
        </div>
      <h5>Welcome to COCO</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <footer>
        <div class="links">
          <a href="">About</a>
          <a href="">Contact</a>
          <a href="">Terms</a>
          <a href="">Privacy</a>
          <a href="">Help</a>
        </div>
        <p class="copyr">Copyright &copy; 2018 COCO.</p>
      </footer>
    </div>
    <div class="col-7 logright">
      <p-growl [(value)]="msgs"></p-growl>
      <div class="row formbox">
        <form autocomplete="off" [formGroup] = "form" (ngSubmit)="doLogin()">
          <div class="row">
            <div class="col-12 text-center">
              <h4>Login</h4>
            </div>
            <div class="col-12 text-center ltextmb">
              <p>Welcome back! We are happy you like COCO</p>
            </div>
            <div class="col-12 mb-4">
              <span class="ui-float-label">
                <input id="float-input-tenant" formControlName="tenantCode" type="text" size="30" pInputText> 
                <label for="float-input-tenant">Tenant Name</label>
              </span>
            </div>
            <div class="col-12 mb-4">
              <span class="ui-float-label">
                <input id="float-input-user" formControlName="userName" type="text" size="30" pInputText> 
                <label for="float-input-user">User Name</label>
              </span>
            </div>
            <div class="col-12 mb-4">
              <span class="ui-float-label">
                <input id="float-input-pass" formControlName="password" type="password" size="30" pInputText> 
                <label for="float-input-pass">Password</label>
              </span>
            </div>
            <div class="col-12 text-right">
              <p><a href="#" class="fpass">Forgot Password</a></p>
            </div>
            <div class="col-12">
              <button  [disabled]="form.invalid || loginServ.loginLoading" pButton type="submit">
                <span *ngIf="!loginServ.loginLoading">LOGIN </span>
                <i *ngIf="loginServ.loginLoading" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>