<p-sidebar position="right"  [(visible)]="objectUtService.bRuleEditMode" [baseZIndex]="1000" styleClass="ui-sidebar-lg">
  <form #form="ngForm" (ngSubmit)="saveBRule()">
    <div class="ui-g-12 sidebar-header">
        {{(objectUtService.selectedBRule?.id) ? 'Edit Business Rules' : 'Add Business Rules'}}
    </div>
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Rule Name" required name="ruleName" [(ngModel)]="brule.name">
      </div>
    </div>

    <div class="ui-g-12" style="display: flex">
      <div>
        <span>ACTIONS</span>
        <div>
          <p-radioButton name="groupname" value="Before" label="Before" class="mr-4" [(ngModel)]="brule.action"></p-radioButton>
          <p-radioButton name="groupname" value="After" label="After" class="mr-4" [(ngModel)]="brule.action"></p-radioButton>
        </div>
      </div>
      <div>
        <span>EVENT TYPE</span>
        <div>
          <div class="ui-inputgroup">
            <p-checkbox name="insert" binary="true" label="Insert" class="mr-4" [(ngModel)]="brule.insert"></p-checkbox>
            <p-checkbox name="update" binary="true" label="Update" class="mr-4" [(ngModel)]="brule.update"></p-checkbox>
            <p-checkbox name="delete" binary="true" label="Delete" class="mr-4" [(ngModel)]="brule.delete"></p-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g-12 sidebar-header">
      Business Rules Editor
    </div>
    <div class="ui-g-12 bslist">
      <div class="ui-g-4 ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-search"></i>
          </span>
          <input style="width:100%" id="float-input" type="text" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')"
            icon="fa fa-search" class="search" placeholder="Search Field">
      </div>
      <div class="ui-g-8">
        <p-autoComplete placeholder="functions" [suggestions]="searchFunctionResults" (completeMethod)="searchFunction($event)" [multiple]="true"
        (onSelect) ="selectFunction($event, funcTextArea)"></p-autoComplete>
      </div>
    </div>

    <div class="ui-g-12 rule-box">
      <div class="ui-g-4 p-0 border-right">
        <p-table selectionMode="single" [value]="objectUtService.selectedObject?.fields"
        #dt [globalFilterFields]="['name']"
        dataKey="name" [(selection)]="selectedField" (onRowSelect)="selectField($event, funcTextArea)">
          <ng-template pTemplate="body" let-field>
            <tr [pSelectableRow]="field">
              <td>{{field.name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-g-8 function-box">
        <textarea pInputTextarea placeholder="Double click on a field name to select and start writing your code here" 
        style="width:100%; height: 100%" #funcTextArea name="statement" [(ngModel)]="brule.statement"></textarea>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4 ui-inputgroup">
        <p-button [disabled]="form.invalid" type="button" label="CHECK SYNTAX" (click) = "checkSyntax()"></p-button>
      </div>
      <div class="ui-g-8 ui-inputgroup">
        <p-button [disabled]="form.invalid" type="submit" [label]="(objectUtService.selectedBRule?.id) ? 'UPDATE' : 'CREATE'"></p-button>
      </div>
    </div>
  </form>
</p-sidebar>

