<form #userForm="ngForm"  (ngSubmit)="onUserFormSubmit(userForm)">
  <div class="row no-gutters">
    <div class="col-3 mt-4 border-left border-danger">
      <span class="ui-float-label">
        <input id="float-input" name="userId" required #userId="ngModel" [(ngModel)]="user.userId" style="width:100%" type="text" pInputText> 
        <label for="float-input">User ID</label>
      </span> 
    </div>
    <div class="col-3 mt-4  border-left border-danger">
      <span class="ui-float-label">
        <input id="float-input1" name="firstName" required #firstName="ngModel" [(ngModel)]="user.firstName" style="width:100%" type="text" pInputText> 
        <label for="float-input1">First Name</label>
      </span> 
    </div>
    <div class="col-3 mt-4 ">
      <span class="ui-float-label">
        <input id="float-input2" name="middleName" [(ngModel)]="user.middleName" style="width:100%" type="text" pInputText> 
        <label for="float-input2">Middle Name</label>
      </span> 
    </div>
    <div class="col-3 mt-4 ">
      <span class="ui-float-label border-left border-danger">
        <input id="float-input3" name="lastName" required #lastName="ngModel" [(ngModel)]="user.lastName" style="width:100%" type="text" pInputText> 
        <label for="float-input3">Last Name</label>
      </span> 
    </div>
    <div class="col-3 mt-4 border-left border-danger">
      <span class="ui-float-label">
        <input id="float-input4" name="alias" required #alias="ngModel" [(ngModel)]="user.alias" style="width:100%" type="text" pInputText> 
        <label for="float-input4">Alias</label>
      </span> 
    </div>
    <div class="col-3 mt-4 ">
      <span class="ui-float-label">
        <input id="float-input5" name="userInfo" [(ngModel)]="user.userInfo" style="width:100%" type="text" pInputText> 
        <label for="float-input5">Use Info</label>
      </span> 
    </div>
    <div class="col-3 mt-4 ">
      <span class="ui-float-label">
        <input id="float-input6" name="employeeId" [(ngModel)]="user.employeeId" style="width:100%" type="text" pInputText> 
        <label for="float-input6">Employee ID</label>
      </span> 
    </div>
    <div class="col-3 mt-4 ">
      <span class="ui-float-label">
        <input id="float-input7"  name="phone" [(ngModel)]="user.phone" style="width:100%" type="text" pInputText> 
        <label for="float-input7">Phone</label>
      </span> 
    </div>
    <div class="col-3 mt-4 ">
      <span class="ui-float-label">
        <input id="float-input8" name="mobile" [(ngModel)]="user.mobile" style="width:100%" type="text" pInputText> 
        <label for="float-input8">Mobile</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input9" name="fax" [(ngModel)]="user.fax" style="width:100%" type="text" pInputText> 
        <label for="float-input9">FAX</label>
      </span> 
    </div>
    <div class="col-3 mt-4 border-left">
      <span class="ui-float-label">
        <input id="float-input10" name="email" [(ngModel)]="user.email" style="width:100%" type="text" pInputText> 
        <label for="float-input10">Email</label>
      </span> 
    </div>
    <div class="col-3 mt-4 border-left" [ngClass]="{'border-danger':!passedUser}">
      <span class="ui-float-label">
        <input id="float-input11" [required]="!passedUser" name="password" [(ngModel)]="user.password" style="width:100%" type="text" pInputText> 
        <label for="float-input12">Password</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input13" name="title" [(ngModel)]="user.title" style="width:100%" type="text" pInputText> 
        <label for="float-input13">Title</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input14" name="companyName" [(ngModel)]="user.companyName" style="width:100%" type="text" pInputText> 
        <label for="float-input14">Company Name</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input15" name="managerName" [(ngModel)]="user.managerName" style="width:100%" type="text" pInputText> 
        <label for="float-input15">Manager</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input16" name="department" [(ngModel)]="user.department" style="width:100%" type="text" pInputText> 
        <label for="float-input16">Department Name</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input17" name="subDivision" [(ngModel)]="user.subDivision" style="width:100%" type="text" pInputText> 
        <label for="float-input17">Sub Division</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input18" name="building" [(ngModel)]="user.building" style="width:100%" type="text" pInputText> 
        <label for="float-input18">Building</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input19" name="desk" [(ngModel)]="user.desk" style="width:100%" type="text" pInputText> 
        <label for="float-input19">Desk</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input20" name="status" [(ngModel)]="user.status" style="width:100%" type="text" pInputText> 
        <label for="float-input20">Status</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input21" name="address1" [(ngModel)]="user.address1" style="width:100%" type="text" pInputText> 
        <label for="float-input21">Address 1</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input22" name="addres2" [(ngModel)]="user.address2" style="width:100%" type="text" pInputText> 
        <label for="float-input22">Address 2</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input23" name="city" [(ngModel)]="user.city" style="width:100%" type="text" pInputText> 
        <label for="float-input23">City</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input24" name="state" [(ngModel)]="user.state" style="width:100%" type="text" pInputText> 
        <label for="float-input24">State</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input25"  name="postalCode" [(ngModel)]="user.postalCode" style="width:100%" type="text" pInputText> 
        <label for="float-input25">Postal Code</label>
      </span> 
    </div>
    <div class="col-3 mt-4">
      <span class="ui-float-label">
        <input id="float-input26"  name="country" [(ngModel)]="user.country" style="width:100%" type="text" pInputText> 
        <label for="float-input26">Country</label>
      </span> 
    </div>
    <div class="col-3 mt-4 mt-2 border-left border-danger">
        <p-dropdown required #buId="ngModel" [options]="buModel" name="buId" [(ngModel)]="user.buId" [style]="{'width':'100%'}" ></p-dropdown>
    </div>
    <div class="col-3 mt-4 "></div>
    <div class="clearfix"></div>
    <div class="col-4 mt-4 offset-md-4">
      <button 
        type="submit" 
        [disabled]="userForm.invalid" 
         
        pButton 
        class="ui-button-success" 
        style="width:100%">
          <span *ngIf="!this.passedUser">Create</span><span *ngIf="this.passedUser">Update</span>
      </button>
    </div>
  </div>

</form>
