<div class="row no-gutters">
  <div class="col-3 sbox">
    <div class="otherbox cards" style="padding:0;">
      <p-panel [style]="{width: '100%'}">
        <p-header>
          <div class="ui-helper-clearfix">
            <h6 class="ui-panel-title" style="display:inline-block;">
              Advanced Filters
            </h6>
          </div>
        </p-header>
        <div class="filters">
          <div class="flrow">
            <span class="ftag">PSC Filter Code:</span>
            <span class="fvalue">1234567890</span>
            <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
          <div class="flrow">
            <span class="ftag">Shipping Geocode Accuracy:</span>
            <span class="fvalue">1234567890</span>
            <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
          <div class="flrow">
            <span class="ftag">Shipping Postal Code:</span>
            <span class="fvalue">#BGHY1234567890</span>
            <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
          <div class="flrow">
            <span class="ftag">Shipping Country Code:</span>
            <span class="fvalue">1234567890</span>
            <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
          <div class="flrow">
            <span class="ftag">Number Of Employees:</span>
            <span class="fvalue">1234567890</span>
            <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
  <div class="col-9 sbox">
    <p-panel [style]="{width: '100%'}">
      <p-header>
        <div class="ui-helper-clearfix">
          <h6 class="ui-panel-title" style="display:inline-block;">
            Advanced Search
          </h6>
        </div>
      </p-header>
      <div class="row no-gutters p-2">
        <div class="col p-2 mb-2" 
          *ngFor="let c of advanceSearchLayout?.mainSection[0].columns">
          <div *ngFor="let d of c.columnData">
            
            <div class="row" *ngIf="d.fieldElementType=='radio'">
              <div class="col-6">
                <span style="font-weight:bold;">{{d.fieldName}}: &nbsp;&nbsp;&nbsp; </span>
              </div>
              <div class="col-6">
                <p-radioButton name="groupname" label="True" value="true"></p-radioButton>
                <p-radioButton name="groupname" label="False" value="false"></p-radioButton>
              </div>                     
            </div>
            <div class="row" *ngIf="d.fieldElementType=='text'" >
              <div class="col-12 cusinput">                       
                  <span class="ui-float-label">
                    <input id="float-input"  type="text" pInputText> 
                    <label for="float-input">{{d.fieldName}}</label>
                  </span>                 
              </div>                        
            </div>
            <div class="row" *ngIf="d.fieldElementType=='number'" >
              <div class="col-12 cusinput">                                               
                  <span class="ui-float-label">
                    <input id="float-input" type="number" pInputText> 
                    <label for="float-input">{{d.fieldName}}</label>
                  </span>
              </div>                          
            </div>
            <div class="row" *ngIf="d.fieldElementType=='date'" >
              <div class="col-12 cusinput">                        
                <p-calendar [appendTo]="'body'" [style]="{'width':'100%'}" [showButtonBar]="true" [placeholder]="d.fieldName"></p-calendar>
              </div>                        
            </div>
            <div class="row" *ngIf="d.fieldElementType=='dropdown'" >
              <div class="col-12 cusinput">                        
                <p-dropdown [style]="{'width':'100%'}" [autoWidth]="false" [placeholder]="d.fieldName" [options]="d.options">
                </p-dropdown>
              </div>                        
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <button  pButton type="button" class="ui-button-success" label="Search"></button>
        <button  (click)="advanceSearchDialog=false" pButton type="button" class="ui-button-warning" label="Close"></button>
      </p-footer>
    </p-panel>
  </div>
  
</div>
