<p-card class="bslist">
  <p-table class="table-striped" [columns]="cols" [paginator]="true" [rows]="10" #dt [value]="roleUtServ.allRoles">
    <ng-template pTemplate="caption">
      <div class="row no-gutters">
        <div class="col-9 caption-header">
          <span class="align-middle">Roles</span>
        </div>
        <div class="col-2">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-search"></i>
            </span>
            <input style="width:100%" id="float-input" type="text" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')"
              icon="fa fa-search" class="search" placeholder="Search Business Units">
          </div>
        </div>
        <div class="col-1">
          <button pButton type="button" styleClass="ui-button-info ui-button-rounded" class="button-rounded" icon="fa fa-plus" (click)="goToCreateNew()"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th width="8%">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
      <tr [ngClass]="{'shadow':roleUtServ.selectedRole?.id == role.id}">
        <td>
          <a (click)="selectRole(role)" href="javascript:void(0);">{{role.name}}</a>
        </td>
        <td>{{role.description}}</td>
        <td>{{role.createdBy}}</td>
        <td>{{role.updateDate | date:"dd/MM/yyyy"}}</td>
        <td>
          <span class="hand" (click)="changeActiveStatus(role.id, role.active)" [ngClass]="role.active ? 'text-success' : 'text-secondary'">
            <i class="fa fa-circle"></i>
          </span>
          <!-- BN -->
          <span class="ml-3 text-warning" *ngIf="role.root">
            <i class="fa fa-gear"></i>
          </span>
        </td>
        <td>
          <!-- BN -->
          <span (click)="editRole(role)" class="hand text-primary">
            <i class="fa fa-pencil"></i>
          </span>
          <span (click)="deleteRole(role.id)" class="ml-3 hand text-secondary">
            <i class="fa fa-trash"></i>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>