:host >>>  .ui-panel-titlebar{
    padding: 3px 4px !important;
}

:host >>>  .ui-panel-content{
    padding: 3px 3px !important;
}

:host >>> .ui-table-caption{
    border:0;
}

:host >>> .ui-table-scrollable-header, .ui-table-scrollable-footer{
    border:0 none !important;
}

:host >>> .ui-paginator-bottom{
    border:0;
}