<div class="row detailsbox rbox page-layouts no-gutters"> 
  <div class="col-12">
    <p-panel>
      <p-header>
        <div class="row no-gutters">
          <div class="col-7"><h4>{{object?.name}} Layouts</h4></div>
          <div class="col-5">
            <button pButton class="ui-button-secondary blueb" label="New Layout" (click)="goToCreateNew()" style="float:right;margin:0 0 0 10px;"></button>
            <!-- <div>        
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div> -->
            <div class="cusinput">
              <span class="ui-float-label">
                <input id="float-input" type="text" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')">
                <label for="float-input">Search Contacts Layouts</label>
              </span>
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </p-header>
      <p-table
        [scrollable]="true"
        #dt [columns]="['id', 'layoutName']" 
        [value]="layouts" 
        styleClass="table table-striped"
        [paginator]="true" 
        [rows]="5">
          <ng-template pTemplate="caption">
            
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Field1</th>
              <th>Field2</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-layout>
            <tr>
              <td>{{layout.id}}</td>
              <td><a href="javascript:void(0);" (click)="viewLayout(layout.id, layout.layoutName)">{{layout.layoutName}}</a></td>
              <td></td>
              <td></td>
            </tr>
          </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="col-12 mt-2" *ngIf="mainLayout">
    <p-panel>
      <p-header>
        <div class="row no-gutters">
          <div class="col-10">
            <h4>{{mainLayout?.layoutName}} Details</h4>
          </div>
          <div class="col-2" *ngIf="mainLayout">
            <button pButton class="ui-button-warning greyb" label="Delete" (click)="deleteLayout(mainLayout)"></button>
            <button pButton class="ui-button-secondary blueb" label="Edit" (click)="editLayout(mainLayout)"></button>
          </div>
        </div>
      </p-header>
      <p-accordion [multiple]="true">
        <p-accordionTab 
          *ngFor="let section of mainLayout?.mainSection; let i=index;"
          [header]="section.sectionName" 
          [selected]="i==0?true:false">
          <div class="row" >
            <div 
              class="col"
              *ngFor="let c of section.columns; let j=index;"
            >
              <ul
                class="list-group list-section">
                <ng-container             
                  *ngFor="let d of c.columnData;">
                  <li
                    class="list-group-item p-1" 
                    [ngClass] = "{'bg-light':d.readOnly}"
                    *ngIf="d.fieldName!='dummy field'">
                    <span *ngIf="d.mandatory" class="text-danger">*</span> {{d.fieldName}} 
                  </li>
                </ng-container>
                
              </ul>
              <div class="table-responsive text-center" *ngFor = "let relatedItem of c.relatedItems;">
                <h5 class="text-info">{{relatedItem.objectName}}</h5>
                <table 
                  class="table table-sm table-bordered"                  
                  >
                  <tr>
                    <th *ngFor="let rd of relatedItem.data;">
                      {{rd.fieldName}}
                    </th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </p-panel>
  </div>
</div>