<div class="parentTab">
  <div class="childTab" style="border-right: 1px solid #eeeeee;">
    <div class="childElement">
      <div class="tab1">Name</div>
      <div class="tab2">{{adminObjectUtilityService.selectedObject.objectName}}</div>
    </div>
    <div class="childElement">
      <div class="tab1">API Name</div>
      <div class="tab2">{{adminObjectUtilityService.selectedObject.apiName}}</div>
    </div>
    <div class="childElement">
      <div class="tab1">Description</div>
      <div class="tab2">{{adminObjectUtilityService.selectedObject.description}}</div>
    </div>
    <div class="childElement">
      <div class="tab1">Help Text</div>
      <div class="tab2">{{adminObjectUtilityService.selectedObject.helpText}}</div>
    </div>
  </div>
  <div class="childTab" style="border-right: 1px solid #eeeeee;">
    <div class="childElement">
      <div class="tab1">Master Object</div>
      <div class="tab2">{{adminObjectUtilityService.selectedObject.masterObject}}</div>
    </div>
    <div class="childElement">
      <div class="tab1">Create Date</div>
      <div class="tab2" *ngIf="adminObjectUtilityService.selectedObject && adminObjectUtilityService.selectedObject.createDate">{{adminObjectUtilityService.selectedObject.createDate.toString() | date: 'd/MM/yyyy'}}</div>
    </div>
    <div class="childElement">
      <div class="tab1">Created By</div>
      <div class="tab2">{{adminObjectUtilityService.selectedObject.createdBy}}</div>
    </div>
    <div class="childElement">
      <div class="tab1">Update Date</div>
      <div class="tab2" *ngIf="adminObjectUtilityService.selectedObject && adminObjectUtilityService.selectedObject.updateDate">{{adminObjectUtilityService.selectedObject.updateDate.toString() | date: 'd/MM/yyyy'}}</div>
    </div>
    <div class="childElement">
      <div class="tab1">Update By</div>
      <div class="tab2">{{adminObjectUtilityService.selectedObject.updatedBy}}</div>
    </div>
  </div>
  <div class="childTab">
  </div>
</div>
