<div class="row no-gutters">
  <!-- <div class="col-12 mb-2 text-center secondmenu">
    <p-menubar [autoDisplay]="false" [model]="objectMenuItems"></p-menubar>
  </div> -->
  <div class="col-12">
    <div class="col-3 sbox">
      <div class="row toprow">
        <!-- <div class="col-12 mb-2">
          <p-card styleClass="custom-card">
            <h4 class="text-info text-center">{{object?.name}}</h4>
          </p-card>
        </div> -->
        <div class="basic-search cards">
          <p-panel [style]="{width: '100%'}">
            <p-header>
              <div class="ui-helper-clearfix">
                <h6 class="ui-panel-title" style="display:inline-block;">
                  Basic Search
                </h6>
              </div>
            </p-header>
            <div class="row p-2">
              <div class="col-md-12 mt-2" *ngFor="let d of basicSearchLayout?.mainSection[0].columns[0].columnData">
                <div class="row" *ngIf="d.fieldElementType=='radio'">
                  <div class="col-6">
                    <span style="font-weight:bold;">{{d.fieldName}}: &nbsp;&nbsp;&nbsp; </span>
                  </div>
                  <div class="col-6">
                    <p-radioButton name="groupname" label="True" value="true"></p-radioButton>
                    <p-radioButton name="groupname" label="False" value="false"></p-radioButton>
                  </div>                     
                </div>
                <div class="row" *ngIf="d.fieldElementType=='text'" >
                  <div class="col-12 cusinput">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">{{d.fieldName}}</label>
                      </span>   
                      <span class="fa fa-info-circle"></span>
                      <!-- <div class="infobox">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        <span class="fa fa-sort-desc"></span>
                      </div>               -->
                    <!-- <input style="width:100%;" id="float-input" [placeholder]="d.fieldName" type="text" pInputText> -->
                  </div>                        
                </div>
                <div class="row" *ngIf="d.fieldElementType=='number'" >
                  <div class="col-12 cusinput">            
                      <span class="ui-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">{{d.fieldName}}</label>
                      </span>                                  
                    <!-- <input style="width:100%;" id="float-input" [placeholder]="d.fieldName" type="number" pInputText> -->
                  </div>                          
                </div>
                <div class="row" *ngIf="d.fieldElementType=='date'" >
                  <div class="col-12">                        
                    <p-calendar [appendTo]="'body'" [style]="{'width':'100%'}" [showButtonBar]="true" [placeholder]="d.fieldName"></p-calendar>
                  </div>                        
                </div>
                <div class="row" *ngIf="d.fieldElementType=='dropdown'" >
                  <div class="col-12">                        
                    <p-dropdown [style]="{'width':'100%'}" [autoWidth]="false" [placeholder]="d.fieldName" [options]="d.options">
                    </p-dropdown>
                  </div>                        
                </div>
              </div>
            </div>
            <p-footer>
              <div class="ui-helper-clearfix text-right">
                  <button  pButton type="button" class="ui-button-success">Search</button>
                  <button  (click)="goToAdvanceSearch()" pButton type="button" class="ui-button-info">Advanced Search</button>
              </div>
            </p-footer>
          </p-panel>
        </div>
        <div class="otherbox cards">
          <p-panel [style]="{width: '100%'}">
            <p-header>
              <div class="ui-helper-clearfix">
                <h6 class="ui-panel-title" style="display:inline-block;">
                  Primary Action
                </h6>
              </div>
            </p-header>
            <div style="padding:1em;line-height:1.5">
                
            </div>
          </p-panel>
        </div>
      </div>
    </div>
    <div class="col-9 rbox">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="col-12 mytasks">
            <!-- <h4>Tasks & Approvals</h4> -->
            <div class="tsklist">
              <div class="col-3 tbox" (click)="goToOtherDetails()">
                <div class="circle">&nbsp;</div>
                <div class="tdetails">
                  <p>
                    <span class="tno">23</span>
                    <span class="tname">Tasks</span>
                  </p>
                  <p class="tstatus">7 Pending</p>
                </div>
              </div>
              <div class="col-3 tbox" (click)="goToOtherDetails()">
                <div class="circle">&nbsp;</div>
                <div class="tdetails">
                  <p>
                    <span class="tno">27</span>
                    <span class="ttext">Approvals</span>
                  </p>
                  <p class="tstatus">13 Pending</p>
                </div>
              </div>
              <div class="col-3 tbox" (click)="goToOtherDetails()">
                <div class="circle">&nbsp;</div>
                <div class="tdetails">
                  <p>
                    <span class="tno">125</span>
                    <span class="ttext">Sales</span>
                  </p>
                  <p class="tstatus">6 Waiting Payment</p>
                </div>
              </div>
              <div class="col-3 tbox" (click)="goToOtherDetails()">
                <div class="circle">&nbsp;</div>
                <div class="tdetails">
                  <p>
                    <span class="tno">2.3k</span>
                    <span class="ttext">Contacts</span>
                  </p>
                  <p class="tstatus">523 New</p>
                </div>
              </div>
            </div>
          </div>
          <p-panel [style]="{width: '100%'}">
            <div style="line-height:1.5">
              <p-table
                #dt [columns]="searchResultLayoutColumns" 
                styleClass="table table-striped"
                [value]="screens" 
                [paginator]="true" 
                [rows]="10">
                  <ng-template pTemplate="caption">
                    <div class="row">
                      <div class="col-7">
                        <h4>
                          {{object?.name}} Search Result
                        </h4>
                      </div>
                      <div class="col-5">                      
                        <p-splitButton 
                          styleClass="ui-button-info"
                          label="NEW" (onClick)="goToCreateNew()" 
                          [model]="items">
                        </p-splitButton>
                        <div class="cusinput">
                          <span class="ui-float-label">
                            <input id="float-input" type="text" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')"  icon="fa fa-search">
                            <label for="float-input">Search Contacts Data</label>
                          </span>
                          <span class="fa fa-search"></span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns">{{col.header}}</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-field let-columns="columns">
                      <tr>
                          <td *ngFor="let col of columns">
                            <a (click)="loadDetails(field.screenId)" href="javascript:void(0);">{{field[col.field]}}</a>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
            </div>
          </p-panel>
        </div>
      </div>
    </div>
  </div> 
</div>
