.small-pad{
    padding-left:0;
}

:host >>>  .ui-panel-titlebar{
    padding: 3px 4px !important;
}

:host >>>  .ui-panel-content{
    padding: 1px 0 !important;
}

:host >>> .ui-accordion-content{
    padding: 5px 10px !important;
}

:host >>> .ui-table-caption{
    border:0;
}

:host >>> .ui-table-scrollable-header, .ui-table-scrollable-footer{
    border:0 none !important;
}

:host >>> .ui-paginator-bottom{
    border:0;
}

:host >>> .custom-card > .ui-card-body{
    padding:4px 5px;
}
/* :host >>> p-accordion> .ui-accordion> p-accordiontab>.ui-accordion-header{
    background:#1C8997;
    color:white;
} */
