<p-table
  [columns]="cols" 
  [paginator]="true" 
  [rows]="10"
  #dt
  [value]="userServ.users">
  <ng-template pTemplate="caption">
    <div class="row no-gutters">
      <div class="col-3">User Search Result</div>
      <div class="col-2" *ngIf="used == 'internal'">
        <p-splitButton 
          styleClass="ui-button-info"
          label="NEW" (onClick)="goToCreateNew()" 
          [model]="addNewMenuItems">
        </p-splitButton>
      </div>
      <div class="col-7">
        <span class="ui-float-label">
          <input id="float-input" type="text" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')"  icon="fa fa-search">
          <label for="float-input">Search Users Data</label>
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr [ngClass]="{'shadow':userServ.selectedUser?.id == user.id}">
        <td><a href="javascript:void(0)" (click)="getUserDetails(user.id)">{{user.userId}}</a></td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.buName}}</td>
    </tr>
  </ng-template>
</p-table>